*
!*/
!*.*
*.o
.vscode
/Objetos/proyectoUNLP01/target/
/Objetos/JavaApplication1/nbproject/private/
/Objetos/proyecto02Estacionamiento/nbproject/private/
/Objetos/proyecto02Estacionamiento/build/
/Objetos/Proyecto03Productor/nbproject/private/
/Objetos/Proyecto03Productor/build/
